#Patricia Zaragoza Palma 

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px rgba(0,0,0,0,7);
    border-radius: 4px;
}

button{
    width: 80%;
    color: bisque;
    padding: 10px;
    background-color: black;
}

button:hover{
    background-color: aqua;
    color: black;
}

input{
    width: 80%;
    padding: 10px;
    text-align: center;
     margin-bottom: 10px;
}
